extends layout

block content
    head 
        script(type="text/javascript" src="../scripts/reportDate.js")
        script(type="text/javascript" src="https://momentjs.com/downloads/moment.js")
        script(type="text/javascript" src="../scripts/age7.js")
    div.container
        form(action="/students/add" method="POST")
            div.jumbotron
                div.row
                    div.col-xl-12
                        h1.text-center.text-primary Badania Przesiewowe
                                div.row
                    div.col-xl-12
                        - var inputDateClasses = ["form-control"]
                        label.text-secondary Imię i nazwisko
                        br
                        input(class=inputDateClasses required autofocus name="name" type="text" placeholder="Imię i nazwisko")
                        br
                        label.text-secondary Data urodzenia (ROK-MIESIĄC-DZIEŃ)
                        br
                        input(name="date" id="dateInput" required class=inputDateClasses type="text" placeholder="YYYY-MM-DD" onChange="countAge()")
                div.row
                    div.col-xl-12
                        h3.text-center.text-primary Lateralizacja
                        select.form-control(name="lat")
                            option(value="prawostronna") Prawostronna
                            option(value="lewostronna") Lewostronna
                            option(value="O-P; R-L") O-P; R-L
                            option(value="O-L; R-P") O-L; R-P
                            option(value="Nieustalona") Nieustalona                                                        

                div.row
                    div.col-xl-12  
                        input( type="hidden" name="age" value="age7")                                                                                                                                     
                div.row
                    div.col-xl-12
                        h3.text-center.text-primary Funkcje słuchowe
                div.row
                    div.col-xl-12
                        p.text-center.text-danger(id="age") Wiek: #{date}
                        input( type="hidden" name="date" value=date)                       

                div.row
                    div.col-xl-6
                        h5.text-secondary.text-center Analiza
                        p.half(id="an1") NOS
                        p.half(id="an2") KAWA
                        p.half(id="an3") KOTEK
                        p.half(id="an4") BALON
                        p.half(id="an5") FASOLA
                        p.half(id="an6") BARANEK
                        p.half(id="an7") KARTKA
                        p.half(id="an8") KOSTKA
                        select.form-control.half(name="ana" onchange="countAnaliza()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                            option(value="7") 7
                            option(value="8") 8                        
                        h6#wynikAnaliza Wynik: niski
                    div.col-xl-6
                        h5.text-secondary.text-center Synteza
                        p.half(id="sy1") M-U-R
                        p.half(id="sy2") N-O-G-A
                        p.half(id="sy3") K-R-O-W-A
                        p.half(id="sy4") D-R-O-G-A
                        p.half(id="sy5") Z-E-G-A-R-Y
                        p.half(id="sy6") K-O-R-O-N-A
                        p.half(id="sy7") K-R-E-S-K-A
                        p.half(id="sy8") K-R-O-M-K-A
                        select.form-control.half(name="syn" onchange="countSynteza()")
                            option(value="0") 0
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="6") 6
                            option(value="7") 7
                            option(value="8") 8                     
                        h6#wynikSynteza Wynik: niski    
                .row
                    .col-xl-12
                        h4.text-primary.text-center Pamięć Słuchowa
                .row
                    .col-xl-12.toAppend
                        p.half Zestaw 1: pon, moleno, atka
                        p.half Zestaw 2: pamolar, polke, szadapak, karza
                        p.half Zestaw 3: son, botem, keczolat, obyrek, kampa                          
                        p.half Zestaw 4: bem, fata, buzany, dera, bukerek, zora
                        select#zestaw1.form-control(name="zestaw1")
                            option(value="-1") Nie ustalona
                            option(value="0") 0 pkt
                            option(value="1") 1 pkt
                            option(value="2") 2 pkt
                            option(value="3") 3 pkt
                            option(value="4") 4 pkt
                            option(value="5") 5 pkt
                            option(value="6") 6 pkt
                            option(value="7") 7 pkt
                            option(value="8") 8 pkt
                            option(value="9") 9 pkt
                            option(value="10") 10 pkt
                            option(value="11") 11 pkt
                            option(value="12") 12 pkt
                            option(value="13") 13 pkt
                            option(value="14") 14 pkt
                            option(value="15") 15 pkt
                            option(value="16") 16 pkt
                            option(value="17") 17 pkt
                            option(value="18") 18 pkt                                                                         
                .row
                    .col-xl-12
                        h4.text-primary.text-center Artykulacja głosek

                .row
                    .col.xl-12
                        p m   t   k   l   d   u   r   w   p   s   g   n   b   z   ł   j   c  f  sz   cz   ż   dz   dź   dż rak  sok  cebula  zegar  dzwonek   szafa  czapka  żaba  ślimak  ćma  źrebak
                        select.form-control.half(name="artykulacja")
                            option(value="0") do konsultacji logopedycznej
                            option(value="1") wada wymowy
                            option(value="2") mowa prawidłowa

                .row
                    .col-xl-12
                        h4.text-primary.text-center Przerysowywanie Figur
                .row
                    .col-xl-2
                        h5 Aspekt
                    .col-xl-2
                        h5 A
                    .col-xl-2
                        h5 B
                    .col-xl-2
                        h5 C
                    .col-xl-2
                        h5 D
                .row
                    .col-xl-2
                        p Figura 1
                    .col-xl-2
                        <input class="A form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="B form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="C form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="D form-control" type="number" min="0" max="3">
                .row
                    .col-xl-2
                        p Figura 2
                    .col-xl-2
                        <input class="A form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="B form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="C form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="D form-control" type="number" min="0" max="3">
                .row
                    .col-xl-2
                        p Figura 3
                    .col-xl-2
                        <input class="A form-control" type="number" value="0" disabled>
                    .col-xl-2
                        <input class="B form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="C form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="D form-control" type="number" min="0" max="3">
                .row
                    .col-xl-2
                        p Figura 4
                    .col-xl-2
                        <input class="A form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="B form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="C form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="D form-control" type="number" min="0" max="3">
                .row
                    .col-xl-2
                        p Figura 5
                    .col-xl-2
                        <input class="A form-control" type="number" value="0" disabled>
                    .col-xl-2
                        <input class="B form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="C form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="D form-control" type="number" min="0" max="3">
                .row
                    .col-xl-2
                        p Figura 6
                    .col-xl-2
                        <input class="A form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="B form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="C form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="D form-control" type="number" min="0" max="3">
                .row
                    .col-xl-2
                        p Figura 7
                    .col-xl-2
                        <input class="A form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="B form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="C form-control" type="number" min="0" max="3">
                    .col-xl-2
                        <input class="D form-control" type="number" min="0" max="3" onInput="countPoints()">
                .row
                    .col-xl-2
                        p Podsumy 
                    .col-xl-2
                        <input class="form-control" id="podsumaA" disabled>
                    .col-xl-2
                        <input class="form-control" id="podsumaB" disabled>
                    .col-xl-2
                        <input class="form-control" id="podsumaC" disabled>
                    .col-xl-2
                        <input class="form-control" id="podsumaD" disabled>
                    .col-xl-2
                        button(type="button" class="btn btn-info" onClick="countPoints()") Oblicz
                .row
                    .col-xl-4.offset-xl-8
                        label.text-info.inlb Suma:
                        input(class="form-control inlb" id="sum" name="pf" type="number" min="0" max="80"  required)
                        h5#wynikFigury Wynik: niski
                        h6 Zakres: <48: niski 
                        h6 Zakres: >48 i <66: przeciętny 
                        h6 Zakres: >66: wysoki 
                .row
                    .col-xl-12
                        h4.text-primary.text-center Uwagi
                .row
                    .col-xl-12#uwagiBox
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Objecie pomocą psychologiczno-pedagogiczną w formie zajęć korekcyjno-kompensacyjnych, przy systematycznym wykonywaniu w domu zalecanych przez nauczyciela ćwiczeń. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Wykonywanie w domu ćwiczeń usprawniających osłabione funkcje według instruktażu nauczyciela. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Terapia logopedyczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Konsultacja okulistyczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Konsultacja laryngologiczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Konsultacja neurologiczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Badanie słuchu. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Wzmożona ruchliwość. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Niska dojrzałość zadaniowa. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Wolne tempo pracy. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Trudności z koncentracją uwagi. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Pośpiech, pochopność w działaniu. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Nieprawidłowy chwyt ołówka. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Osłabiona sprawność grafomotoryczna. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Tiki. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Objęcie okresową pomocą w formie zajęć korekcyjno-kompensacyjnych. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Do usprawniania analiza wyrazów dłuższych. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Do usprawniania synteza wyrazów dłuższych. ")
                        input.uwaga.btn.btn-secondary(type="button" onClick="dodajUwage(this.value)" value="Do usprawniania pamięć słuchowa. ")
                .row
                    .col-xl-12
                        textarea.form-control#uwagi(name="uwagi", rows="4")
                        input.btn.btn-success.btn-block(type="submit" value="Dodaj ucznia do listy")
        form(action="/")
            input.back.btn.btn-danger(type="submit" value="Wstecz")
        form(action="/auth/logout")
            input.logout.btn.btn-danger(type="submit" value="Wyloguj")
                

                    

                        

                    
