extends layout
block content
    .container
        .jumbotron
            .row
                .col-xl-12.text-center
                    h1.text-primary Raport został wysłany na maila
                    a(href="/"): h3.btn-primary.rounded Wyślij kolejne zgłoszenie


